# https://zimfw.sh/docs/modules

zmodule environment

# zsh的一些快捷键, https://github.com/zimfw/input
zmodule input

# git命令别名和补全插件
zmodule git

# 终端标题插件,自动更新终端标题
zmodule termtitle

# https://github.com/zimfw/utility
# 为ls grep less 添加颜色
# 如果有lsd,自动使用lsd
# 如果不想要颜色,则可以设置环境变量`export NO_COLOR=1`
# 自动创建别名 ls,ll,l,lm,lr,lx,lk,lt,lc
zmodule utility

# asciiship的执行时间插件 
# zmodule duration-info
# asciiship的git信息插件
# zmodule git-info
# starship,spaceship的精简版
# zmodule asciiship

# 命令补全
zmodule completion

# 额外命令补全(第三方工具)
zmodule zsh-users/zsh-completions --fpath src

# 格式高亮
zmodule zsh-users/zsh-syntax-highlighting

# 历史搜索
zmodule zsh-users/zsh-history-substring-search

# 历史命令补全
zmodule zsh-users/zsh-autosuggestions

# 类似auto-jump的快捷跳转工具
zmodule https://github.com/agkozak/zsh-z
